# Dependencias
node_modules/
.npm/

# Credenciales y variables de entorno
cypress.env.json
.env

# Archivos generados por Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# IDEs y editores
.vscode/
.idea/
*.swp
*.iml

# Logs y archivos de sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db